*
{
    margin: 0px;
    padding: 0px;
}

.btn
{
    color: white;
    background-color: #333;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    font-size: 15px;
    width: 350px;
}
.btn:hover
{
    background-color: #00baa4;
    color: #333;
}


